@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --black: #141414;
    --dark-grey: #1F1F1F;
    --white: #FFF;
    --grey: #303030;
    --neon-green: #c4f82a;
}

div {
    background-color: var(--dark-grey);
    width: 384px;
    text-align: center;
    padding: 35px;
    color: var(--white);
    border-radius: 12px;
}

img {
    width: 88px;
    border-radius: 50%;
    margin-bottom: 24px;
}

body {
    background-color: var(--black);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

ul, li {
    list-style: none;
    margin-bottom: 24px;
}

strong {
    color:var(--neon-green);
    font-size: 14px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

p {
    margin-block: 24px;
    font-size: 14px;
}

a {
    background-color: var(--grey);
    color: var(--white);
    margin-bottom: 16px;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
}

a:hover {
    background-color: var(--neon-green);
    color: var(--dark-grey);
    transition: 0.4s;
}